extends layout

block content
  .container
    h1 Testing with Zombie.js
    hr
    h2 Insanely fast, headless full-stack testing using Node.js
    h4 The Bite
    p.
      If you're going to write an insanely fast, headless browser,
      how can you not call it Zombie? Zombie it is. Zombie.js is a
      lightweight framework for testing client-side JavaScript code
      in a simulated environment. No browser required.
    hr
    a#logout.btn(href="logout") Logout